h3.tpap-license-title {
    background: linear-gradient(to right, #e55860, #28aef6);
    padding: 20px 10px;
    margin: 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    margin-top: 25px;
}
.tpap-license-form {
    padding-right: 40px;
}
.tpap-license-content {
    padding: 25px;
    width: 100%;
    display: inline-block;
}
.tpap-license-field label {
    display: block;
    margin-bottom: 5px;
}
.tpap-license-form, .tpap-license-textbox {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
}
input.regular-text.code {
    font-size: 150%;
    padding: 8px 10px 10px;
    width: 100%;
}
span.tpap-license-valid {
    padding: 0px 5px 2px;
    color: #fff;
    background-color: #e55860;
    border-radius: 3px;
}
span.tpap-license-key {
    font-weight: 700;
    opacity: 0.8;
}
span.tpap-license-info-title:after {
    content: ':';
    position: absolute;
    right: 2px;
}
li {
    list-style: none;
    padding: 0;
}
span.tpap-license-info-title {
    width: 150px;
    display: inline-block;
    position: relative;
    padding-right: 5px;
}
.tpap-license-textbox ol {
    border: 3px solid #e55860;
    padding: 5px 20px;
    margin-left: 0;
}
.tpap-license-container *{
    box-sizing: border-box;
}
.tpap-pluginby {
    width: 100%;
    display: block;
    text-align: right;
    font-style: italic;
}
.tpap-license-container {
    margin: 5px 15px;
    display: block;
}